@import "bootstrap";

.navbar {
  background-color: #000000 !important;
}

.nav-link {
  color: #ffffff !important;
}

.navbar-brand {
  font-size: 3rem;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container{
    margin-top: 30px;
}


.jumbotron{
    background-image: asset-url("hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
    
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}